$color-dark-blue: #242A45;
$color-light-coral: #FA5959;
$color-white: #fff;
$color-light-grey: #626881;
$color-light-blue: #5267DF;
$color-midnight-blue: #2C3192;

$font-family: "Rubik", "Arial", sans-serif;
