.hero-section{
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
  margin-bottom: 80px;
  background-image: url("/images/site-hero-right-bg--desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 550px) center;
}

.hero-section__title{
  width: 540px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: $color-dark-blue;
}

.hero-section__text{
  max-width: 540px;
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px; 
  color: $color-dark-blue;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@mixin link($backgroundColor, $color) {
  margin-right: 16px;
  padding: 10px 24px;
  text-decoration: none;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  background-color: $backgroundColor;
  color: $color;
  transition: hover .3s ease;
  border: 2px solid transparent;
  &:hover{
    border: 2px solid $color-light-blue;
    background-color: transparent; 
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  }
}

.hero-section__chrome-link{
  @include link($color-light-blue, $color-white);
  white-space: nowrap;
  &:hover{
    color: $color-light-blue;
  }
}

.hero-section__firefox-link{
  @include link(#F7F7F7, $color-dark-blue);
  white-space: nowrap;
}

@media only screen and (max-width: 1150px) {
  .hero-section{
    background-size: 900px 350px;
    background-position: calc(50% + 450px) center;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-section__title,
  .hero-section__text{
    max-width: 440px;
  }
}

@media only screen and (max-width: 900px) {
  .hero-section{
    background-size: 800px 350px;
    background-position: calc(50% + 400px) center;
  }
}

@media only screen and (max-width: 840px) {
  .hero-section{
    background-size: 750px 300px;
    background-position: calc(50% + 400px) center;
  }
  
  .hero-section__title{
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.15px;
  }
}

@media only screen and (max-width: 840px) {
  .hero-section{
    padding-top: 350px;
    background-size: 750px 300px;
    background-position: calc(50% + 50px) calc(50% - 180px);
  }
  
  .hero-section__title,
  .hero-section__text{
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .hero-section__link-box{
    margin-left: 200px;
  }
}

@media only screen and (max-width: 700px) {
  .hero-section__link-box{
    margin-left: 150px;
  }
}

@media only screen and (max-width: 610px) {
  .hero-section__link-box{
    margin-left: 90px;
  }
}

@media only screen and (max-width: 580px) {
  .hero-section{
    padding-top: 250px;
    background-size: 600px 420px;
    background-position: calc(50% + 80px) calc(50% - 165px);
  }
  
  .hero-section__link-box{
    margin-left: 60px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 500px) {
  .hero-section{
    padding-top: 290px;
    background-size: 550px 350px;
    background-position: calc(50% + 120px) calc(50% - 140px);
  }
  
  .hero-section__title,
  .hero-section__text{
    text-align: center;
    width: 420px;
  }
  
  .hero-section__title{
    width: 320px;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
  }
  
  .hero-section__text{
    width: 320px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  
  @mixin link($backgroundColor, $color) {
    margin-right: 6px;
    padding: 5px 10px;
  }
  
  .hero-section__chrome-link{
    @include link($color-light-blue, $color-white);
  }
  
  .hero-section__firefox-link{
    @include link(#F7F7F7, $color-dark-blue);
  }
}

@media only screen and (max-width: 430px) {
  .hero-section__link-box{
    margin-left: 20px;
  }
}
